@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="活动id" underline="true"/>
                            <#input id="acOrg" name="活动类别" underline="true"/>
                            <#input id="acTitle" name="活动标题" underline="true"/>
                            <#input id="acContent" name="活动内容" underline="true"/>
                            <#input id="acLocation" name="活动地址" underline="true"/>
                            <#input id="acstartTime" name="活动开始时间"/>
                </div>

                <div class="col-sm-6">
                            <#input id="acendTime" name="活动结束时间" underline="true"/>
                            <#input id="acThreshold" name="人数上限" underline="true"/>
                            <#input id="accredit" name="活动门槛" underline="true"/>
                            <#input id="acBonus" name="活动积分奖励" underline="true"/>
                            <#input id="acState" name="活动状态" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CommunityInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CommunityInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/community/community_info.js"></script>
@}
