@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="openId" name="微信用户id" underline="true"/>
                            <#input id="userName" name="用户名" underline="true"/>
                            <#input id="gender" name="性别" underline="true"/>
                            <#input id="avatarUrl" name="头像"/>
                </div>

                <div class="col-sm-6">
                            <#input id="country" name="国家" underline="true"/>
                            <#input id="province" name="省" underline="true"/>
                            <#input id="city" name="城市" underline="true"/>
                            <#input id="authority" name="身份" underline="true"/>
                            <#input id="credit" name="积分" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WxuserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WxuserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/wxuser/wxuser_info.js"></script>
@}
